@model IEnumerable<ResturantApplication.Models.Cashier>
@{
    ViewBag.Title = "CashiersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var e = 0;
}

<style>
    * {
        padding: 0;
        margin: 0;
       
        font-size: 11px;
       
    }

    th{
        background-color: darkcyan;
        text-align: center;
    }
</style>




<h2>Employee List</h2>

<div class="row">
    <br />
    <div>
        <button onclick="AddCashier()" class="btn btn-success" data-ng-controller="btn-link js-edit">Add Employee</button>
    </div>
</div>

<br />

<table id="cashiers" class="table table-striped table-bordered table-hover" style="width: 100%">
    <thead>
        <tr>
            <th>S/N </th>
            <th>FULL NAME </th>
            <th>DATE OF BIRTH</th>
            <th>GENDER</th>
            <th>PHONE NUMBER </th>
            <th>EMAIL </th>
            <th>CONTACT ADDRESS </th>
            <th>PERMANENT ADDRESS  </th>
            <th>L.G.A </th>
            <th>STATE OF ORIGIN </th>
            <th>NEXT OF KIN </th>
            <th>NEXT OF KIN PHONE-NUMBER </th>
            <th>NEXT OF KIN RELATION </th>
            <th>POSITION </th>
            <th>COMPUTER LITERATE </th>
            <th>PASSPORT </th>
            <th>ACTION </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var cashier in Model)
        {

            e = e + 1;
            <tr id="@string.Format("{0}-{1}","Cashier",cashier.Id)">
                <td>@e</td>
                <td>@cashier.FullName</td>
                <td>@cashier.BirthDate</td>
                <td>@cashier.Gender</td>
                <td>@cashier.PhoneNumber  </td>
                <td>@cashier.EmailAddress</td>
                <td>@cashier.ContactAddress</td>
                <td>@cashier.PermanentAddress</td>
                <td>@cashier.LGA</td>
                <td>@cashier.StateOfOrigin</td>
                <td>@cashier.NameOfNextOfKin</td>
                <td>@cashier.NextOfKinPhoneNumber</td>
                <td>@cashier.NextOfKinRelation</td>
                <td>@cashier.Position</td>
                <td>@cashier.ComputerLiterate</td>
                <td>@cashier.Photo</td>
                <td>
                    <button onclick="Edit(@cashier.Id)" class="btn btn-warning" data-ng-controller="btn-link js-edit">  Edit</button>
                    <button onclick="Delete(@cashier.Id)" class="btn btn-danger" data-item-id="btn-link js-delete"> Delete</button>
                </td>
            </tr>
         }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#cashier').DataTable();
        });
        function Delete(id) {
            debugger
            if (confirm("Are you Sure u want to Delete Cashier? ")) {

                window.location = "/Cashier/Delete?id=" + id;
            }
        }
        function AddCashier() {
            window.location = "/Cashier/NewCashiers";
        }
        function Edit(id) {
            window.location = "/Cashier/NewCashiers?id=" + id;
        }
    </script>
}
