@model IEnumerable<ResturantApplication.Models.Items>

@{
    ViewBag.Title = "ItemsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<div class="row">
    <br />
    <div>
        <button onclick="AddProduct()" class="btn btn-success" data-ng-controller="btn-link js-edit">Add Product</button>
    </div>
</div>

<br />

<table id="customers" class="table table-striped table-bordered table-hover" style="width: 100%">
    <thead>
        <tr>
            <th>Sr </th>
            <th>ITEMS NAME </th>
            <th>ITEMS PRICE</th>
            <th>Alert Qty</th>
            <th>ACTION </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var items in Model)
        {
            var naira = "\u20A6";
            i = i + 1;
        <tr id="@string.Format("{0}-{1}","Item",items.Id)">
            <td>
                @i
            </td>
            <td>
                @items.Names
            </td>


            <td>@items.ItemPrice</td>
            <td>@items.MinQty</td>
            <td>
                <button onclick="Edit(@items.Id)" class="btn btn-warning" data-ng-controller="btn-link js-edit">  EDIT</button>
                <button onclick="Delete(@items.Id)" class="btn btn-danger" data-item-id="btn-link js-delete"> DELETE</button>
            </td>
           
        </tr>
           
        }

    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#items').DataTable();
        });
        function Delete(id) {
            debugger
            if (confirm("Are you Sure u want to Delete this -- > " + id)) {

            window.location = "/Items/Delete?id=" + id;
            }
        }
        function AddProduct() {
            window.location = "/Items/NewItems";
        }
        function Edit(id) {
            window.location = "/Items/NewItems?id="+id;
        }
    </script>
}